<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Project One</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color: honeydew;">
    <div class="container">
      <div class="jumbotron">
        <center><h2><b>Welcome to My Spring Project One</b></h2></center><br />
        <p style="font-size: 16;">
          Hello,I am AungPhyoHan.This project is to provide CRUD without DB.
          <br />
          <i style="font-size: 14px;">This product includes a LinkedList that provides CRUD,person Model and A controller that includes a lot of different endpoints.</i>
        </p>
      </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="col-md-6" th:if="${flag}">
        <!-- form -->
        <form action="/add" method="post" th:object="${personObj}">
          <div class="form-group">
            <label class="form-label" for="name">NAME</label>
            <input
              type="text"
              name="name"
              class="form-control"
              th:value="*{name}"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="name">AGE</label>
            <input
              type="text"
              name="age"
              class="form-control"
              th:value="*{age}"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="name">WORK</label>
            <select class="form-control" name="work" th:value="*{work}">
              <option value="IT">IT</option>
              <option value="Mechanic">Mechanic</option>
              <option value="Hotel">Hotel</option>
              <option value="GeneralWorker">General Worker</option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn"
              style="background-color: gold"
              value="ADD NEW"
            />
          </div>
        </form>
      </div>
      <div class="col-md-6" th:unless="${flag}">
        <!-- form -->
        <form action="/edit" method="post" th:object="${personObj}">
          <input type="hidden" name="id" th:value="*{id}" />
          <div class="form-group">
            <label class="form-label" for="name">NAME</label>
            <input
              type="text"
              name="name"
              class="form-control"
              th:value="*{name}"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="name">AGE</label>
            <input
              type="text"
              name="age"
              class="form-control"
              th:value="*{age}"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="name">WORK</label>
            <select class="form-control" name="work" th:value="*{work}">
              <option th:value="IT" th:selected="(*{work} == 'IT')">IT</option>
              <option th:value="Mechanic" th:selected="(*{work} == 'Mechanic')">
                Mechanic
              </option>
              <option th:value="Hotel" th:selected="(*{work} == 'Hotel')">
                Hotel
              </option>
              <option
                th:value="GeneralWorker"
                th:selected="(*{work} == 'GeneralWorker')"
              >
                General Worker
              </option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn form-control"
              style="background-color: orange"
              value="UPDATE"
            />
            <a th:href="@{/back}" class="btn form-control" style="background-color: gray;color:black">CANCEL</a>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <!--- table -->
        <table class="table">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>WORK</th>
            <th>DATE</th>
            <th>Option</th>
          </tr>
          <tr th:each="item:${data}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.age}"></td>
            <td th:text="${item.work}"></td>
            <td th:text="${item.createdAt}"></td>
            <td>
              <div class="row">
                <div class="col-md-12">
                  <a
                    th:href="@{/{id}(id=${item.id})}"
                    class="btn"
                    style="
                      background-color: orange;
                      margin-right: 10px;
                      color: black;
                      font-size: 11px;
                    "
                    >UPDATE</a
                  >
                  <a
                    th:href="@{/delete/{id}(id=${item.id})}"
                    class="btn"
                    style="background-color: maroon; color: white;font-size: 11px;"
                    >DELETE</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
